.result-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 150px;
    min-height: 129px;
    background-color: #fff;
    color: #933DC9;
    font-weight: 700;
    position: absolute;
    top:20%;
    left: 33%;
    z-index: 100;
    font-size: 20px;

}
.button-container{
    width: 260px;
    display: flex;
    padding: 13px;
    justify-content: space-between;
}
@media only screen and (max-width: 375px) {
    .result-container{
      
        top:25%;
        left: 10%;
       
    }

    .button-container{
      
        padding: 13px;
       
    }
   
}